@import url(./vendor/normalize.css); 
@import url(./vendor/fonts.css); 

* {
  box-sizing: border-box;
}

.page {
  background-color: #0b1015;
  font-family: 'MuseoSansCyrc', Arial, sans-serif;
}

.background {
  position: relative;
  height: 660px;
  background: url('./images/background.png') no-repeat top center fixed;
}

.header {
  background-color: rgba(21, 10, 1, .2);
  border-bottom: 1px solid rgb(152, 147, 147) ;
}


.header-content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .header-content {
    padding: 0 30px;
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .header-content {
    padding-right: 18px;
  }
}

@media screen and (max-width: 374px) {
  .header-content {
    padding-right: 0;
    padding-left: 20px;
  }
}

@media screen and (max-width: 991px) { 
  .nav-desktop {
    display: none;
  }
}

.nav {
  display: none;
}

@media screen and (max-width: 991px) { 
  .nav {
    display: block;
    position: relative;
    top: 2px;
    right: 0;
  }
}

@media screen and (max-width: 374px) { 
  .nav {
    right: 10px;
  }
}

.nav-mobile {
  display: none;
}

.nav-mobile_open {
  display: grid;
  width: 198px;
  position: absolute;
  top: 50px;
  right: 5px;
  min-height: 148px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  z-index: 4;
  padding: 10px 0;
}

.nav-mobile_open .menu-link:hover { 
  border-bottom: 1px solid transparent;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #a7a4a4;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham .top {
  stroke-dasharray: 40 139;
}

.ham .bottom {
  stroke-dasharray: 40 180;
}

.ham.active .top {
  stroke-dashoffset: -98px;
}

.ham.active .bottom {
  stroke-dashoffset: -138px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-auto-flow: column;
  justify-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@media screen and (max-width: 1199px) { 
  .menu {
    gap: 25px;
  }
}

@media screen and (max-width: 991px) { 
  .menu {
    grid-template-columns: 200px;
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: row;
    margin-bottom: 0;
    gap: 5px;
  }
}

.menu-link {
  font-size: 16px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  transition: opacity 0.4s ease-in-out, border 0.4s ease-in-out; 
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
}

.menu-link:hover { 
  opacity: 0.6; 
  border-bottom: 1px solid rgb(61, 61, 61);
} 

@media screen and (max-width: 1199px) { 
  .menu-link {
    display: block;
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 991px) { 
  .menu-link {
    display: initial;
  }
}

@media screen and (max-width: 991px) { 
  .logo {
    width: 200px;
    height: 70px;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 0 0 25px;
}

@media screen and (max-width: 1289px) { 
  .main {
    padding: 0 30px;
  }
}

@media screen and (max-width: 991px) { 
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 374px) { 
  .main {
    padding: 0 20px;
  }
}

.main-title {
  margin-top: 108px;
}

@media screen and (max-width: 991px) { 
  .main-title {
    margin-top: 20px;
    place-self: start;
  }
}

@media screen and (max-width: 743px) { 
  .main-title {
    margin-top: 30px;
  }
}

.main-button {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 38px;
  font-size: 14px;
  background: url('./images/border.png') no-repeat center center;
  color: rgb(255, 255, 255);
  transition: opacity 0.4s ease-in-out;
  position: relative;
  z-index: 3;
  text-decoration: none;
}

@media screen and (max-width: 743px) { 
  .main-button {
    opacity: 0.8;
  }
}

.main-button::after {
  content: '';
  height: 58px;
  width: 32vw;
  position: absolute;
  top: 18px;
  left: 179px;
  background-image: url('./images/line.png');
  z-index: 4;
}

.main-button:hover { 
  opacity: 0.6; 
}

@media screen and (max-width: 1310px) { 
  .main-button::after {
    background-size: contain;
  }
}

@media screen and (max-width: 1135px) { 
  .main-button::after {
    width: 31vw;
  }
}

@media screen and (max-width: 1079px) { 
  .main-button::after {
    display: none;
  }
}

.title {
  width: 426px;
  font-size: 25px;
  font-weight: 300;
  color: transparent;
  position: relative;
  background-image: linear-gradient(to right, #ffffff, #ff460d);
  background-clip: text;
  margin: 6px 0 87px;
  -webkit-background-clip: text;
}

@media screen and (max-width: 991px) { 
  .title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 743px) { 
  .title {
    font-size: 20px;
    width: 356px;
  }
}

@media screen and (max-width: 413px) { 
  .title {
    width: 300px;
  }
}

.title-span {
  display: block;
  font-size: 58px;
  font-weight: 700;
  line-height: 0.9;
  text-transform: uppercase;
}

@media screen and (max-width: 743px) { 
  .title-span {
    font-size: 48px;
  }
}

@media screen and (max-width: 413px) { 
  .title-span {
    font-size: 38px;
  }
}

.planet {
  position: absolute;
  top: calc(50% - (384px / 2));
  left: calc(50% - (384px / 2));
  height: 384px;
  width: 384px;
}

@media screen and (max-width: 1199px) { 
  .planet { 
    display: none;
  } 
} 

.info {
  width: 380px;
  margin-top: 45px;
}

@media screen and (max-width: 991px) { 
  .info {
    margin-top: 10px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 743px) { 
  .info {
    width: 260px;
  }
}

.info-gallery {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 1fr);
  gap: 11px;
  width: 100%;
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 991px) { 
  .info-gallery {
    padding-top: 20px;
    margin-left: 0;
  }
}

@media screen and (max-width: 743px) { 
  .info-gallery {
    margin: 0 auto;
  }
}  

.card {
  display: grid;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -9px -18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: -9px -18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  box-shadow: -9px -18px 27px -4px rgba(158, 155, 155, 0.1) inset;
  list-style: none;
  cursor: pointer;
  opacity: 0.7;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: opacity 0.4s ease-in-out, border 0.4s ease-in-out;
  padding: 32px 0;
}

.card:hover { 
  opacity: 1;
  border-bottom: 1px solid rgb(61, 61, 61);
  border-right: 1px solid rgb(61, 61, 61);
  z-index: 4;
}

.card:nth-of-type(2n) {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-box-shadow: 9px -18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: 9px -18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  box-shadow: 9px -18px 27px -4px rgba(158, 155, 155, 0.1) inset;
}

.card:nth-of-type(2n):hover {
  border-left: 1px solid rgb(61, 61, 61);
  border-right: none;
}

.card:nth-of-type(3n) {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  -webkit-box-shadow: -9px 18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: -9px 18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  box-shadow: -9px 18px 27px -4px rgba(158, 155, 155, 0.1) inset;
}

.card:nth-of-type(3n):hover {
  border-bottom: none;
  border-top: 1px solid rgb(61, 61, 61);
}

.card:nth-of-type(4n) {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  -webkit-box-shadow: 9px 18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: 9px 18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  box-shadow: 9px 18px 27px -4px rgba(158, 155, 155, 0.1) inset;
}

.card:nth-of-type(4n):hover {
  border-bottom: none;
  border-top: 1px solid rgb(61, 61, 61);
}

.card-text {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  font-weight: 100;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 743px) { 
  .card-text {
    font-size: 14px;
  }
}

.card-main {
  display: block;
  font-size: 60px;
  font-weight: 700;
  line-height: 0.9;
  margin: 16px 0 2px;
}

@media screen and (max-width: 991px) { 
  .card-main {
    font-size: 40px;
    margin: 10px 0 11px;
  }
}

@media screen and (max-width: 743px) { 
  .card-main {
    font-size: 30px;
    margin: 10px 0 11px;
  }
}

.card-main-span {
  font-size: 20px;
}
